@charset "ISO-8859-1";
body{


}
  .primary-background{
      background: #009688!important;
  }
  .new-background{
       background: #d81b60!important; 
}
  .header-background{
      background: #f48fb1!important;
  }
  
 .cancel{
 	display:block !important;
 }
 
 button:focus { outline: none; }